*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 10px;
}

img{
    width: 90px;
    margin-right: 10px;
}

h2{
    margin-top: 25px;
}

p{
    margin-top: 10px;
    margin-bottom: 30px;
}


.container{
    width: 1250px;
    margin: 0 auto;
    /* background-color: orange; */
}

header {
   
    border-bottom: solid grey 2px;
}
.container .up{
    display: flex;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}

nav ul li{
    margin-right: 3px;
    padding: 10px;
    cursor: pointer;
}

nav ul li:last-child{
    border-bottom: blue solid 3px;
    color: blue;
}